:root {
    --bg: #f9fafe;
    --brn: #653d08;
    --mn: #c89f68;
    --pup: #5c587a;
    --dark: #323042;
    --pri: #6c3cf2;
    --sec: #3cf272;
    --oth: #2258cc;
    --yel: orange;
    --red: tomato;
    --shad: 4px 4px 16px -4px #0004;
    --wht: #fff;
    --txt: #868686;
}

* {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.1s ease-in-out;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
} 

.site-header{
    z-index: 999; 
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* box-shadow: var(--shad); */
     background: var(--mn);
     padding: 2rem;
     position: relative;
 }
 .brand-details i{
    font-size: 86px;
 }
 .brand-head{
     display: flex;
     gap: .5rem;
     align-items: center;
     color: var(--brn);
 }
 .brand-head svg{
     font-size: 2rem;
     color: var(--red);
 }
 .brand-name{
     color: var(--brn);
     line-height: .75;
     display: flex;
     align-items: center;
 }
 .brand-tag{
     text-transform: uppercase;
     text-align: right;
     color: var(--brn);
     padding-right: 1rem;
     letter-spacing: 2px;
     margin-top: -.35rem;
 }
 .nav-wrap{
     display: flex;
     gap: 1rem;
 }
 .nav-wrap > li{
     position: relative;
 }
 .nav-wrap li a, .drop-down li a{
     padding: 1rem 1rem;
     color: var(--brn);
     border-radius: 2rem;
     display: block;
     position: relative;
     cursor: pointer;
     /* box-shadow: var(--shad); */
 }
 nav a:hover {
    color: var(--bg);
    transform: scale(1.03);
}

.search-icon, .cart-icon {
    font-size: 1.2rem;
    margin-top: 0.2rem;
}
 .drop-down{
     position: absolute;
     width: max-content;
     max-height: 0;
     overflow: hidden;
     left: 0;
     top: 100%;
     background-color: #fff;
     box-shadow: var(--shad);
 }
 .drop-down a{
     border-radius: 0 !important;
     color: var(--brn) !important;
 }
 .drop-down a:hover{
     background: var(--brn);
     color: var(--bg) !important;
 }
 .nav-wrap > li:hover > .drop-down{
     max-height: max-content;
     
 }
 .nav-toggle{
     display: none;
     justify-content: center;
     align-items: center;
     padding: .5rem .75rem;
     border-radius: 3px;
     font-size: 1.52rem;
     cursor: pointer;
     color: var(--brn);
     border: 1px solid #fff2;
 }
 .nav-extra{
    display: flex;
    gap: 1rem;
    color: var(--brn);
 }
 .nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: .9rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: relative;
 }
 .cart-label{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--red);
    color: var(--wht);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -.25rem;
    right: -.25rem;
 }
 .nav-icon:hover{
    background: var(--brn);
    color: var(--bg);
    cursor: pointer;
 }
 /* MOBILE RESPONSIVENESS */
 @media screen and (max-width: 760px){
    .site-nav{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        max-height: 0;
        z-index: 999;
        background: var(--bg);
    }
    .nav-show{
        max-height: 1000%;
    }
    .nav-wrap{
        flex-direction: column;
        gap: 0;
    }
    .nav-wrap li a{
        border-radius: 0 !important;
        color: var(--brn);
    }
    .nav-wrap li a:hover{
        background: var(--brn);
        color: var(--bg);
    }
    .drop-down{
        position: static;
        display: block;
        width: 100%;
        z-index: 99;
    }
    .nav-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--brn);
        z-index: 1000;   
    }
    .nav-extra {
       margin-left: auto;
       margin-right: 1rem;
    }

    .hero-right{
       display: none;
    }
    /* CATEGORY STYLING */
    .category-section{
       padding-top: 0;
       flex-direction: column;
    }

    /* PRODUCT STYLING */
    .product-card{
       max-width: 15rem;
    }
    /* ABOUT US STYLING */
    .about-us-container{
       flex-direction: row;
       margin: 1rem;
    }
    /* HIDE SEARCH ICON */
  header .nav-extra .search-icon{
    display: none !important;
  }
}